@import './colors-theme-primary.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Breakpoints variables.
$xs:  360px;
$s :  440px;
$m :  768px;
$l : 1280px;
$xl: 1440px;

body{
    width: 100%;
    padding: 10px 10px;
    column-gap: 2%;
    display: grid;
    background-color: $color-black;
}

// Configuración de columnas.
:root{
    --columns: 4;
    --colum-gap: 6.67%;
}

@media (max-width:$xs) {
    body{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:$s) {
    body{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width:$m) {
    body{
        grid-template-columns: repeat(12, 1fr);
    }
}


@media (min-width:$l) {
    body{
        width: 100%;
        justify-self: center;
    }
}
    